* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.images-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.images-container div {
    width: 23%;
    height: 200px;
}

.images-container div img {
    width: 100%;
    height: 100%;
}